@font-face {
  font-style: normal;
  font-weight: 100 800;
  src: url("/fonts/JetBrainsMono[wght].woff2") format("woff2");
  font-family: "JetBrains Mono";
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-style: italic;
  font-weight: 100 800;
  src: url("/fonts/JetBrainsMono-Italic[wght].woff2") format("woff2");
  font-family: "JetBrains Mono";
  font-display: swap;
  font-optical-sizing: auto;
}

html {
  background-color: black;
  font-size: 62.5%;
}

body {
  margin-inline: auto;
  max-width: 60ch;
  color: grey;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "JetBrains Mono", monospace;
}

a:is(:link, :visited) {
  color: lightskyblue;
}
