@font-face {
  font-style: normal;
  font-weight: 100 800;
  src: url("/fonts/JetBrainsMono[wght].woff2") format("woff2");
  font-family: "JetBrains Mono";
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-style: italic;
  font-weight: 100 800;
  src: url("/fonts/JetBrainsMono-Italic[wght].woff2") format("woff2");
  font-family: "JetBrains Mono";
  font-display: swap;
  font-optical-sizing: auto;
}

:root {
  --color-bg: white;
  --color-link: deeppink;
  --color-text: black;

  @media (prefers-color-scheme: dark) {
    --color-bg: black;
    --color-text: white;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin-inline-start: 50%;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "JetBrains Mono", monospace;
}

p {
  line-height: 1.5;
}

a:is(:link, :visited, :hover, :active) {
  color: var(--color-link);
}

ul {
  list-style: none;
}

.reading-width {
  max-width: 60ch;
}

/* ----------------------------------- */

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills--block {
}

.skills__list {
  padding: 0;
}
